.lead{
    display:flex;
    flex-direction:column;
    max-width: 984px;
    max-height: 1005px;
    margin: 136px 148px 0 148px;
}

@media screen and (max-width: 1024px){
    .lead{
    max-width: 928px;
    margin: 48px 48px 0 48px;
    }
    }

@media screen and (max-width: 768px){
  .lead{
    max-width: 768px;
    max-height: 862px;
    margin: 48px 0 0 0;
    }
    }

@media screen and (max-width: 320px){
.lead{
max-width: 320px;
max-height: 406px;
margin: 48px 0 0 0;
}
}