.footer__links{
display:flex;
flex-direction:row;
gap: 18px;
list-style:none;
padding:0;
flex-wrap: wrap;
align-self: start;
}

@media screen and (max-width: 320px){
    .footer__links{
        flex-direction: column;
        row-gap: 32px;
       margin:0 0 48px 0;
    }
}