.place{
    display: grid;
    grid-template-columns: minmax(1% , 460px) 1fr;
    grid-template-rows: repeat(2,minmax(min-content, max-content));
    width: 100%;
    gap:48px 40px;
}

@media screen and (max-width: 1024px){
    .place{
        gap:48px 32px;
    }
}

@media screen and (max-width: 768px){
    .place{
        gap:48px 28px;
        grid-template-columns: minmax(1% , 340px) 1fr;
    }
}

@media screen and (max-width: 673px){
    .place{
        grid-template-columns: 340px;
        grid-template-rows: repeat(5,minmax(min-content, max-content));
        justify-content: center;
        align-items: center;
        row-gap: 32px;
   
    }
}

@media screen and (max-width: 340px){
    .place{
        grid-template-columns: 320px;
        grid-template-rows: repeat(4,minmax(min-content, max-content));
    }
}
