.place__description {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 484px;
    margin: 0;
    grid-column-start: 2;
    grid-column-end: 2;
}

@media screen and (max-width: 1024px) {
    .place__description {
        max-width: 456px;
        gap: 27px;
    }
}

@media screen and (max-width: 768px) {
    .place__description {
        max-width: 352px;
        gap: 25px;
    }
}

@media screen and (max-width: 673px) {
    .place__description {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 4;
        grid-row-end: 4;

    }
}


@media screen and (max-width: 340px) {
    .place__description {
        max-width: 288px;
        margin: 0 16px 0 16px;
    }
}